@charset "utf-8";

.game_screen {
	width: 100%;
	height: auto;
}

.reversi_area {
	display: inline-block;
	width: 100%;
	height: auto;
	aspect-ratio: 1/1;
}

.reversi_area table {
	width: 100%;
	height: 100%;
	padding: 1px;
	border: 2px solid #7db4e6;
}

.reversi_area td {
	padding: 3px;
	background: #7db4e6;
}

button.reversi_piece {
	padding: 45%;
	background: none;
	border: none;
	border-radius: 100vh;
}

button.black_piece,
button.black_piece:hover,
#icon_black {
	background: black;
}

button.white_piece,
button.white_piece:hover,
#icon_white {
	background: white;
}

button.on_special {
	color: #f90;
	background: #ff0;
	border: 2px solid #f90;
}

button.keep_special {
	color: #f30;
	pointer-events: none;
	background: #f90;
	border: 2px solid #f30;
}

.side_by_side {
	display: inline-block;
}

.side_by_side button {
	display: block;
	margin: 4px 1px 4px 0.5rem;
}

.button_area_black {
	display: inline-block;
	margin: 0 0 7px;
	vertical-align: top;
	transform: rotate(180deg);
}

#modal_black {
	transform: rotate(180deg);
}

.button_area_white {
	display: inline-block;
	margin: 0 0 7px;
	vertical-align: top;
}

.icon_turn {
	width: 3rem;
	height: 3rem;
	margin: 1rem auto;
	border: 2px solid #7db4e6;
	transform: rotate(45deg);
	transition: 0.5s;
}

.your_turn {
	transform: rotate(0);
	transition: 0.5s;
}

.your_turn::before {
	font-weight: bold;
	color: #7db4e6;
	content: "your turn";
}

.count_text {
	font-weight: bold;
	color: #494949;
}

@media (orientation: landscape) {
	.game_screen {
		height: 100vh;
	}

	.side_by_side {
		display: block;
	}

	.reversi_area {
		width: auto;
		height: 90%;
		margin: auto 0.5rem;
	}

	.button_area_black,
	#modal_black {
		transform: rotate(0);
	}

	button.vertical {
		display: flex;
		padding: 0.5rem 1rem;
		margin: 0.5rem auto;
	}

	button.vertical span {
		white-space: pre;
		writing-mode: vertical-rl;
	}
}

@media (aspect-ratio >= 860/695) and (aspect-ratio <= 935/695) {
	.reversi_area {
		height: 80%;
	}
}

@media (aspect-ratio >= 745/695) and (aspect-ratio <= 860/695) {
	.reversi_area {
		height: 65%;
	}
}

@media (aspect-ratio >= 1/1) and (aspect-ratio <= 745/695) {
	.reversi_area {
		height: 55%;
	}
}

@media (aspect-ratio <= 410/695) {
	.side_by_side button {
		font-size: 70%;
	}
}

@media (height <= 600px) {
	.game_screen {
		margin: 0 0 100px;
	}
}

@media (height <= 500px) {
	.game_screen {
		margin: 0 0 200px;
	}
}

@media (height <= 400px) {
	.game_screen {
		margin: 0 0 300px;
	}
}

@media (height <= 300px) {
	.game_screen {
		margin: 0 0 400px;
	}
}

@media (height <= 200px) {
	.game_screen {
		margin: 0 0 500px;
	}
}

@media (height <= 100px) {
	.game_screen {
		margin: 0 0 600px;
	}
}
